{% extends 'base.html' %}

{% block content %}
    <div class="filter-form">
        <form action="{{ url_for('listings.home')}}" method="POST">
            <button type="submit"><b>Filter:</b></button>
            <select id="filter" name="filter">
                <option value="all" {% if type_filter == "all" %}selected{% endif %}>All</option>
                <option value="electronics" {% if type_filter == "electronics" %}selected{% endif %}>Electronics</option>
                <option value="home" {% if type_filter == "home" %}selected{% endif %}>Home</option>
                <option value="kitchen" {% if type_filter == "kitchen" %}selected{% endif %}>Kitchen</option>
                <option value="outdoors" {% if type_filter == "outdoors" %}selected{% endif %}>Outdoors</option>
            </select>
        </form>
    </div>   
    <div class="all-listings">
        {% for listing in all_listings %}
            <div class="listing">
                <a href="{{ url_for('listings.show_listing', listing_id=listing.id)}}" style="text-decoration: none">
                    <div class="listing-title">
                        <b>{{listing.description.title}}</b>
                    </div>
                    <div class="listing-img">
                        <img id="listing-img-{{listing.id}}" src="">
                    </div>
                    <div class="listing-text">
                        Owner: <b>{{listing.user.username}}</b> - Price: <b>${{listing.price}}</b>
                    </div>
                </a>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                (function() {
                    let listingImage = document.getElementById('listing-img-{{listing.id}}')
                    let images = [];
                    if ("{{listing.description.img1}}" !== 'None') {
                        images.push("{{listing.description.img1}}");
                    };
                    if ("{{listing.description.img2}}" !== 'None') {
                        images.push("{{listing.description.img2}}");
                    };
                    if ("{{listing.description.img3}}" !== 'None') {
                        images.push("{{listing.description.img3}}");
                    };
                    if ("{{listing.description.img4}}" !== 'None') {
                        images.push("{{listing.description.img4}}");
                    };
                    if ("{{listing.description.img5}}" !== 'None') {
                        images.push("{{listing.description.img5}}");
                    };
                    updateImage(images, listingImage);
                    })();
                });
            </script>
        {% endfor %}
    </div>

    <script>
        function updateImage(images, listingImage) {
            let currentIndex = 0;
            let previousIndex = 0;
            function setImage() {
                if (images[currentIndex] !== 'None') {
                    listingImage.src = images[currentIndex];
                    previousIndex = currentIndex
                    currentIndex = (currentIndex + 1) % images.length;
                } else {
                    listingImage.src = images[previousIndex]
                    currentIndex = 0
                }
                console.log(images[currentIndex])
            };
            setImage();
            setInterval(setImage, 5000);
        };
    </script>
{% endblock %}

