{% extends 'base.html' %}

{% block content %}
    <div class="show-listing-title">
        <h2>{{listing.description.title}}</h2>
        <p><b>Owned by User: </b>{{listing.user.username}}</p>
    </div>
    <div class="show-listing">
        <div class="show-listing-text">
            <p><b>Item Name:</b> {{listing.name}}</p>
            <p><b>Price:</b> ${{listing.price}}</p>
            <p style="overflow-wrap: break-word"><b>Description:</b> {{listing.description.descr}}</p>
            <p style="text-align: center; overflow-wrap: break-word">
                {{listing.user.username}} 
                <b>{% if listing.tradeable == True %} IS {% else %} IS NOT {% endif %}</b> 
                willing to Trade this Item.
            </p>
            <p style="text-align: center;">
                <a href="{{ url_for('listings.listing_offer', listing_id=listing.id) }}">
                    <button>Make an Offer</button>
                </a>
            </p>
        </div>
        <div class="show-listing-img"> 
            {% if listing.description.img1 %}
                <img src="{{listing.description.img1}}" max_width="300px" max_height="200px">
            {% endif %}
            {% if listing.description.img2 %}
                <img src="{{listing.description.img2}}" max_width="300px" max_height="200px">
            {% endif %}
            {% if listing.description.img3 %}
                <img src="{{listing.description.img3}}" max_width="300px" max_height="200px">
            {% endif %}
            {% if listing.description.img4 %}
                <img src="{{listing.description.img4}}" max_width="300px" max_height="200px">
            {% endif %}
            {% if listing.description.img5 %}
                <img src="{{listing.description.img5}}" max_width="300px" max_height="200px">
            {% endif %}
        </div>
    </div>
{% endblock %}