{% extends 'base.html' %}

{% block content %}
    <div class="user-items-title">
        <h2>{{session.username}}'s Items</h2>
        <a href="{{ url_for('items.add_item', username=session.username) }}">Add Item</a>
    </div>

<div class="user-items">
    {% for item in user_items %}
        <div class="user-item">
            <div class="user-items-img">
                <a href="{{url_for('items.show_item', username=session.username, item_id=item.id)}}">
                    <img src="{{item.description.img1}}" max_width="300px" max_height="200px">
                </a>
            </div>
            <div class="user-items-text">
                <p>{{item.name}}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}