{% extends 'base.html' %}

{% block content %}
    <div class="user-items-title">
        <h2>{{session.username}}'s Items</h2>
        <a href="{{ url_for('items.add_item', username=session.username) }}">Add Item</a>
    </div>

<div class="user-items">
    {% for item in user_items %}
        <div class="user-item">
            <a href="{{url_for('items.show_item', username=session.username, item_id=item.id)}}" style="text-decoration: none;">
                <div class="user-items-img">
                    <img src="{{item.description.img1}}">
                </div>
                <div class="user-items-text">
                    <p>{{item.name}}</p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}