name: Auto Deploy Cash or Trade

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.EC2_SSH_KEY }}
          known_hosts: |
            172.31.6.135 ssh-rsa SHA256:QaIwWLBYsv2FDPCTQcRTe1QmmuFW/IQlF/cKFhZK6uk

      - name: SSH:Pull, Install, Restart
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          port: 22
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd Cash-or-Trade
            git pull origin main
            source .venv/bin/activate
            pip install -r requirements.txt
            pkill -f "python app.py" || true
            nohup python3 app.py &
