name: Auto Deploy Cash or Trade

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # Set up SSH key
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.EC2_SSH_KEY }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Virtual env
        run: |
          sudo apt install python3.12-venv -y
          python3 -m venv .venv
          source .venv/bin/activate

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Unit Tests
        run: |
          python3 -m unittest app.py

      # ---------- REMOTE DEPLOYMENT STEPS ----------

      - name: SSH:Pull latest code
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.EC2_HOST }}
          username: mmennella
          port: 22
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/mmennella/cash_or_trade
            git pull origin main

      - name: SSH:Install dependencies & restart Flask App
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.EC2_HOST }}
          username: mmennella
          port: 22
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/mmennella/cash_or_trade
            source .venv/bin/activate
            pip install -r requirements.txt
            pkill -f "python app.py" || true
            nohup python3 app.py &
